@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: lightseagreen;
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  border: 2px solid red;
}

.container .secs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
}

.images-wrapper {
  height: 100%;
  width: 100%;
  background: url(/images/illustration-woman-online-desktop.svg), url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 180%;
  background-position: -80px 50%, -460px 70%;
}

.images-wrapper .desk-box {
  position: absolute;
  top: 45.5%;
  left: -3%;
}

.accordion-wrapper {
  margin-right: 80px;
  margin-top: 150px;
  border: 2px solid magenta;
  height: 100%;
}

.accordion-wrapper h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.accordion-wrapper button.accordion {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 15px 15px 0;
  color: #4a4b5e;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.accordion-wrapper button.accordion:after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
  font-weight: 400;
}

.accordion-wrapper button.accordion.is-open:after {
  content: url(/images/icon-arrow-down.svg);
  transition: transform 0.2s linear;
  transform: rotate(180deg);
}

.accordion-wrapper button.accordion:hover, .accordion-wrapper button.accordion.is-open {
  color: #1d1e35;
  font-weight: 700;
}

.accordion-wrapper .accordion-content {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-wrapper .accordion-content p {
  color: #787887;
  padding-bottom: 15px;
}

.accordion-wrapper hr {
  border: 1px solid #e7e7e9;
}
