@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(#af67e9, #6565e7);
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container .secs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 25px;
}

.images-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("./images/illustration-woman-online-desktop.svg"), url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 180%;
  background-position: -80px 50%, -460px 70%;
}

.images-wrapper .desk-box {
  position: absolute;
  top: 40.5%;
  left: -20%;
}

.accordion-wrapper {
  margin-right: 80px;
  margin-top: 150px;
  height: 100%;
}

.accordion-wrapper h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.accordion-wrapper button.accordion {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 15px 15px 0;
  color: #4a4b5e;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.accordion-wrapper button.accordion:after {
  content: url("./images/icon-arrow-down.svg");
  float: right;
  font-weight: 400;
}

.accordion-wrapper button.accordion.active:after {
  content: url("./images/icon-arrow-down.svg");
  transition: transform 0.2s linear;
  transform: rotate(180deg);
}

.accordion-wrapper button.accordion:hover {
  color: #f47c57;
}

.accordion-wrapper button.accordion.active {
  color: #1d1e35;
  font-weight: 700;
}

.accordion-wrapper .accordion-content {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-wrapper .accordion-content p {
  color: #787887;
  padding-bottom: 15px;
}

.accordion-wrapper hr {
  border: 1px solid #e7e7e9;
}

@media (max-width: 993px) {
  .container .secs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 490px;
    position: relative;
  }
  .images-wrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    background-image: url("./images/illustration-woman-online-desktop.svg"), url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, 70%;
    background-position: 5% 0%, 5% -600%;
    top: -21%;
    right: -15%;
  }
  .images-wrapper .desk-box {
    display: none;
  }
  .accordion-wrapper {
    padding: 140px 25px 50px 25px;
    margin: 0;
    height: 100%;
    width: 90%;
  }
  .accordion-wrapper h1 {
    text-align: center;
    margin-bottom: 8px;
  }
}
